.feedback-form {
    display: flex;
    flex-direction: column;
    max-width: 408px;
    max-height: 296px;
    padding: 24px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.feedback-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.feedback-form button {
    /* padding: 8px 12px;
  font: inherit;
  cursor: pointer; */
    max-width: 95px;
    max-height: 40px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4e75ff;
}

input,
textarea {
    padding: 8px;
    font: inherit;
    border-radius: 8px;
}

textarea {
    resize: none;
}